*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

header{
    background-image: url(image_bckg/backg.png);
    background-size: cover;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{

    width: 1060px;
height: 328.58px;
left: 107px;
top: 160.07px;

font-family: 'Changa';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 70px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}