* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  width: 1060px;
  height: 328.58px;
  left: 107px;
  top: 160.07px;
  font-family: "Changa";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.logo {
  padding: 0;
  margin: 0;
  font-family: "Dancing Script", cursive;
  color: #9e8365;
  height: 4rem;
}

.navbar {
  background-color: #9e8365;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #3a1f12;
}
.search select:focus {
  box-shadow: none;
  border: 2px solid #3a1f12;
}

.search button {
  height: 50px;
  width: 110px;
  background: #3a1f12;
}
